.Messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    overflow-x: hidden;
    height: 80%;
}

.NoMessage {
    color: #F1F4FF;
    align-self: center;
    margin: auto;
}