.MainPage {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 10vh;
}

.ProfilePicture {
    background-color: grey;
    width: 55px;
    height: 55px;
    border-radius: 100%;
}