@import '../../../scss/variables';

.Message {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    margin: 1em 0;

    img {
        grid-column: 1/2;
        grid-row: 1/4;
        width: 75%;
    }

    span:first-of-type {
        grid-column: 2/-1;
        grid-row: 1/3;
        color: $bgColor;
        background-color: $whiteColor;
        border-radius: 10px 10px 10px 0;
        padding: .5em 1em .5em .5em;
        font-size: 1rem;
    }
    
    span:last-of-type {
        color: $primaryColor;
        grid-column: 2/-1;
        grid-row: 3/4;
        font-size: .6rem;
    }
}

.UserMessage {
    align-self: flex-end;
    img {
        grid-column: 2/3;
    }

    span:first-of-type {
        grid-column: 1/2;
        border-radius: 10px 10px 0 10px;
        background-color: $secondaryColor;
        color: $whiteColor;
        padding: .5em .5em .5em 1em;
    }

    span:last-of-type {
        grid-column: 1/2;
        text-align: right;
    }

}