@import '../../../scss/variables';

.Message {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto 1fr;
    margin: 1em 0;
    column-gap: .5em;
    margin-right: 10%;

    & > img {
        grid-column: 1/2;
        grid-row: 1/4;
        align-self: flex-end;
        border-radius: 50%;
    }

    span:first-of-type {
        grid-column: 2/4;
        grid-row: 1/3;
        color: $bgColor;
        background-color: $whiteColor;
        border-radius: 10px 10px 10px 0;
        padding: .5em 1em .5em .5em;
        font-size: 1rem;
        word-break: break-all;
        justify-self: flex-start;
    }
    
    span:last-of-type {
        color: $primaryColor;
        grid-column: 2/-1;
        grid-row: 3/4;
        font-size: .6rem;
    }
}

.UserMessage {
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 0;
    align-self: flex-end;
    img {
        grid-column: 2/3;
    }

    span:first-of-type {
        grid-column: 1/2;
        border-radius: 10px 10px 0 10px;
        background-color: $secondaryColor;
        color: $whiteColor;
        padding: .5em .5em .5em 1em;
    }

    span:last-of-type {
        grid-column: 1/2;
        text-align: right;
    }

}