@import '../../scss/variables';

.ChatPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ChatHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColor;
    padding-top: .5em;
    margin-bottom: auto;
}

.ChatForm {
    background-color: $secondaryColor;
    border-radius: 10px 10px 0 0;
    padding: .5em .75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto (-$m-pad) 0;
    
    input {
        width: 100%;
        padding: .75em;
        background-color: $bgColor;
        margin: 0 1em;
    }
}

.FileSend {
    input {
        display: none;
    }
}

.LightMode .ChatForm {
    background-color: $primaryColor;

    label:first-of-type path {
        fill: $bgColor;
    }

    input {
        background-color: $primaryColor;
        color: $bgColor;
        border-color: $bgColor;
    }
}