.SearchedContact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.ContactPicture {
    background-color: grey;
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.ContactName {
    font-weight: 600;
    margin-right: auto;
    margin-left: 40px;
}

@media (min-width: 500px) {

    

}