.ChatsLayout {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.Header {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 22vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Header > h2 {
    color: #ECC8AF;
    font-weight: 600;
    letter-spacing: 1px;
    align-self: flex-start;
    margin: 0;
    margin-left: 6vw;
}

.Contacts {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 5vw;
}

.Contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 3vw ;
    padding: 0;
}

.Contact > h4 {
    margin: 5px 0;
    font-size: 0.9rem;
    color: white;
    font-weight: 500;
}

.ContactPicture {
    background-color: grey;
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.Chats {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 100vw;
    height: 68vh;
    border-radius: 50px 50px 0 0 ;
    overflow: auto;
    position: relative;
}

.ChatsHeader {
    display: flex;
    align-items: center;
    margin: 1vh 7vw;
    justify-content: space-between;
}

.ChatsHeader > h3 {
    letter-spacing: 1px;
    font-weight: 400;
    color: #495867;
}

@media (min-width: 500px) {
    .ChatsLayout {
        display: none;
    }
}