.ChatInput {
    display: flex;
    align-items: center ;
    justify-content: space-around;
    background-color: #dedede;
    width: 85vw;
    min-height: 52px;
    height: 8vh;
    border-radius: 40px;
    margin-bottom: auto;
    padding: 0 10px;
    transition: all 500ms ease-in-out;
}

.ChatInput > input {
    outline: none;
}

.TextInput {
    background: none;
    border: none;
    outline: none;
    color: #495867;
    font-weight: 600;
}

@media (min-width: 500px) {
    .ChatInput {
        background-color: #fff;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .Emoji, .Send, .Image {
        margin: 0 10px;
        width: 35px;
    }

    .TextInput {
        font-size: 1rem;
        margin-right: auto;
        margin-left: 5px;
        width: 100%;
        height: 100%;
    }
}
