.SignedUpPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.Header {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Header input {
    margin-bottom: 10px;
}

.Header h2, .Header p {
    color: white;
    font-weight: 400;
    margin: 5px 0;
}

.PictureUpload {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    margin-bottom: 20%;
}

.PictureUpload p {
    margin-bottom: 10%;
}

.PictureUpload p, .PictureUpload span {
    letter-spacing: 1px;
    color: white;
}

.PictureUpload span {
    margin-top: 5% ;
}

.Footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    width: 80vw;
    margin: 10% 0;
}

.SideLogo {
    display: none;
}

@media (min-width: 500px) {
    
    .SideLogo {
        display: flex;
        background-color: #fff;
        width: 20vw;
        align-items: center;
        justify-content: center;
    }

    .SignedUpPage {
        width: 80vw;
    }

    .Header > input {
        display: none;
    }

	.Container {
		display: flex;
    }
    
    .Header {
        margin-bottom: auto;
    }

    .Header h2{
        margin-top: 45%;
        font-size: 1.7rem;
    }

    
    .PictureUpload {
        width: 60%;
        margin-top: auto;
    }

    .PictureUpload p {
        font-size: 1.2rem;
    }
    
    .PictureUpload button {
        margin: 10px;
    }
    
    .Footer {
        width: 60%;
        margin-top: auto;
        margin-bottom: 40px;
    }

    
}