@import '../../../scss/variables';

.Contact {
    margin-bottom: 2em;
    

    &:last-child {
        margin-bottom: 0;
    }
}

.Contact > a {    
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr auto;
    align-items: center;
    justify-items: flex-start;
    column-gap: .5em;
    
    color: $primaryColor;
    
    * {
        font-family: $secondaryFont;
        font-weight: 600;
        // margin: 0 .25em;
    }

    img {
        border-radius: 50%;
    }
    
    h3 {
        word-break: break-all;
        // padding-left: .5em;
        // margin-right: auto;
    }

}

.StatusDot {
    height: 10px;
    width:  10px;
    border-radius: 100em;
}

.Online {
    background-color: #499747;
}

.Offline {
    background-color: $secondaryColor;
}