@import '../../../scss/variables';

.Contact {
    margin-bottom: 2em;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(even) span {
        background-color: $secondaryColor;
    }
}

.Contact > a {    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $primaryColor;
    
    * {
        font-family: $secondaryFont;
        font-weight: 600;
    }
    
    h3 {
        margin: 0 4em 0 1em;
    }

    span {
        height: 10px;
        width:  10px;
        border-radius: 100em;
        background-color: #499747;
    }
}