@import '../../../scss/variables';

.Conv {
    margin-bottom: 3em;
}

.Conv > a {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
    justify-items: flex-start;
    color: $primaryColor;

    h3 {
        font-weight: 600;
    }

    img {
        grid-row: 1/3;
        height: 120%;
    }

    span {
        grid-row: 1/2;
        grid-column: 3/4;
        font-size: .85rem;
    }

    * {
        font-family: $secondaryFont;
    }
    
    h3, p {
        grid-column: 2/3;
    }
}