.SmallBtn {
    width: 150px;
    height: 45px;
    display: flex;
    border-radius: 10px;
    background-color: #303d49;
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px rgba(255, 255, 255, 0.14) solid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.SmallBtn img {
    margin: 5px;
}

.SmallBtn > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .SmallBtn {
        width: 60%;
        font-weight: 600;
        font-size: 1rem;
        margin: 15px;
    }

}