.ContactSearch {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 50vh;
    border-radius: 0 0 20px 20px;
    top: 0;
    z-index: 300;
    background-color: #495867;
    border: 1px #495867 solid;
    box-sizing: border-box;
    transition: all 500ms ease-in-out;
    overflow: auto;
    margin: 0;
    padding: auto;
}

.ContactSearch::-webkit-scrollbar {
    display: none;
}

.Open {
    transform: translate(0, 0);
    opacity: 1;
}

.Close {
    transform: translate(0, -100vh);
    opacity: 0;
}

.SearchInput {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: #ECC8AF;
    font-weight: 600;
    font-size: 0.9rem;
    border-bottom: 1px #ECC8AF solid;
    width: 80%;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0;
    margin: 30px 0;
}

.SearchInput::placeholder {
    color: #ecc8af9c;
    font-weight: 500;

}

.HideBtn {
    display: none;
}

@media (min-width: 500px) {
    .ContactSearch {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: #fff;
        overflow: auto;
        border: none;
        border-bottom: 1px #495867 solid;
        
    }
    
    .SearchInput {
        color: #495867;
        border-bottom: 1px #495867 solid;
        margin: 0 0 30px 0;

    }
    
    .SearchInput::placeholder {
        color: #495867;
    }

    .Close {
        transform: translate(-100vw, 0);
        opacity: 0;
    }

    .HideBtn {
        display: block;
        align-self: flex-start;
        margin: 25px;
    }
}