.SearchedContacts {
    display: flex;
    flex-flow: column;
    width: 80%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

.SearchedContacts > * {
    color: #ECC8AF;
}