@import '../../scss/variables';

.Primary, .Secondary {
    padding: 1em .5em;
    border-radius: 10px;
    font-size: .85rem;
}

.Primary {
    background-color: $secondaryColor;
    color: $whiteColor;
    width: 75%;
    margin: auto;
}

.Secondary {
    color: $primaryColor;
    background-color: $bgColor;
    border: 2px $primaryColor solid;
    width: 55%;
    margin: auto;   
}

.TabMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    
    span {
        background-color: $whiteColor;
        width: .5em;
        height: .5em;
        display: block;
        margin: 0 .2em;
        border-radius: 50%;
    }
}