@import '../../scss/variables';

.LoadingSpinner,
.LoadingSpinner:before,
.LoadingSpinner:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.LoadingSpinner {
    color: $whiteColor;
    font-size: 10px;
    margin: auto;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.LoadingSpinner:before,
.LoadingSpinner:after {
    content: '';
    position: absolute;
    top: 0;
}
.LoadingSpinner:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.LoadingSpinner:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    90%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    20% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    90%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    20% {
        box-shadow: 0 2.5em 0 0;
    }
}
