@import '../../scss/variables';

.DialogBox {
    display: none;
    opacity: 0;
    transition: all 500ms ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bgColor;
    width: 80%;
    height: 50%;
    border: 3px solid $secondaryColor;
    border-radius: 15px;
    margin: auto;
    z-index: 30;

    h2 {
        color: $whiteColor;
        text-align: center;
        margin-bottom: 3em;
    }

    button {
        margin: 0 auto;
    }
}

.Show {
    display: flex;
    opacity: 1;
}