@import '../../scss/variables';

.NavBar {
    display: grid;
    grid-template-columns: 3fr 12fr 3fr;
    align-items: center;
    justify-items: center;
    height: 20%;

    img {
        border-radius: 50%;
    }
}