.Friends {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    overflow: auto;
}

@media (max-width: 500px) {
    .Friends::-webkit-scrollbar {
        display: none;
    }
}