
.DesktopMain {
    display: none;
}

@media (min-width: 500px) {

    .DesktopMain {
        background-color: white;
        display: flex;
        width: 95vw;
        height: 90vh;
    }

    .Side {
        height: 100%;
        width: 30%;
        border-right: 1px #495867 solid;
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
    }

    .SideHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
        border-bottom: 1px #495867 solid;
        box-sizing: border-box;
    }

    .ProfilePicture {
        margin: 0 15px;
        background-color: grey;
        width: 55px;
        height: 55px;
        border-radius: 100%;
    }

    .SideHeader h3 {
        color: #495867;
        font-weight: 700;
    }

    .Logout {
        margin-left: auto;
        margin-right: 10px;
        display: flex;
        align-items: center;
        color: #ECC8AF;
        font-weight: 600;
        cursor: pointer;
    } 

    .Logout > * {
        margin: 0 3px;
    }


    .SideHeader > input {
        margin: 0 20px;
    }

    .FriendsLayout {
        display: flex;
        align-items: center;
        width: 95%;
        justify-content: space-between;
    }

    .ConvsLay {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        height: 88%;
        overflow-y: auto;
        position: relative;
        overflow-x: hidden;
    }

    .ConvsLay::-webkit-scrollbar {
        display: none;
    }

    .ChatsHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        color: #495867;
        font-size: 1.2rem;
    }

    .Chat {
        height: 100%;
        width: 70%;
        border-right: 1px #495867 solid;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .ChatHeader {
        background-color: #495867;
        width: 100%;
        height: 12%;
        border-bottom: 1px #495867 solid;
        display: flex;
        align-items: center;
    }

    .ChatHeader > span {
        margin: 0 3%;
    }

    .ChatHeader > h3 {
        color: white;
    }

    .ConvLay {
        display: flex;
        width: 100%;
        height: 88%;
    }

}