@import '../../scss/variables';

.BackDrop {
    z-index: -1;
    position: fixed;
    margin: 0 (-$m-pad);
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000, $alpha: .8);
    transition: opacity 500ms ease-in-out;
    opacity: 0;
}

.Show {
    opacity: 1;
    z-index: 10;
}