@import './scss/variables.scss';

.App {
    height: 100%;
    padding: 0 ($m-pad);
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: $primaryFont;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: $primaryFont;
    font-weight: 500;
}

h1 {
    font-size: 1.375rem;
}

h2 {
    font-size: 1.175rem;
}

h3 {
    font-size: 1.075rem;
}

p {
    font-size: .85rem;
}

input {
    border: none;
    background: none;
    outline: none;
    font-family: $secondaryFont;
}

button {
    border: none;
    background: none;
    font-family: $primaryFont;
}