.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.App h1 {
    margin: 2em 0;
}

.ContactForm {
    margin: 2em 0;

    input {
        margin: 0 2em;   
    }
}