body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

body * {
  font-family: 'Open Sans', sans-serif;
}