/* COLOR VARIABLES */
$primaryColor: #B2BFCD;
$secondaryColor: #495867;
$bgColor: #101820;
$tertiaryColor: #5B738C;
$whiteColor: #F1F4FF;


/* FONTS VARIABLES */
$primaryFont: 'Audiowide', cursive;
$secondaryFont: 'Montserrat', sans-serif;
$heroFontSize: 1.25rem; 
$buttonFontSize: 1rem;

/* PADDING VARIABLES */
$m-pad: 10px;
$d-pad: 30px;